<h1>Brochure</h1>
  
<div class="banner">
  <div class="slider">
    <div class="item">
      <img src="/images/scene1.jpg" alt="First scene">
      <img src="/images/scene2.jpg" alt="Second scene">
      <img src="/images/scene3.jpg" alt="Third scene">
      <img src="/images/scene4.jpg" alt="Fourth scene">
      <img src="/images/scene5.jpg" alt="Fifth scene">
      <img src="/images/scene6.jpg" alt="Sixth scene">
      <img src="/images/scene7.jpg" alt="Seventh scene">
    </div>
  </div>
</div>
