<h1>Brochure</h1>
  
<div class="slider">
      <span style="--i:1;"><a href="/scene1"><img src="/images/scene1.jpg" alt="First scene"></a></span>
      <span style="--i:2;"><a href="/scene2"><img src="/images/scene2.jpg" alt="Second scene"></a></span>
      <span style="--i:3;"><a href="/scene3"><img src="/images/scene3.jpg" alt="Third scene"></a></span>
      <span style="--i:4;"><a href="/scene4"><img src="/images/scene4.jpg" alt="Fourth scene"></a></span>
      <span style="--i:5;"><a href="/scene5"><img src="/images/scene5.jpg" alt="Fifth scene"></a></span>
      <span style="--i:6;"><a href="/scene6"><img src="/images/scene6.jpg" alt="Sixth scene"></a></span>
      <span style="--i:7;"><a href="/scene7"><img src="/images/scene7.jpg" alt="Seventh scene"></a></span>
</div>

<a href="contactus.ejs">Contact us now!</a>